extends layout

block content 
  header
    .modal-overlay
    nav
      .username #{username}
      a.i.fa.fa-sign-out(href="/logout") Logout
    section.bookOuterContainer  
      .bookInnerContainer
        for book in books
          .bookWrapper
            a.open-modal-btn
              img(src=book.images).bookCover
              p=book.title
              p=book.price
            .modal-container
              .modal-header
                i.fa.fa-times.close-modal-btn
              .modal-picture
                .modal-inner-image
                  img(src=book.images).innerModalBookCover
                .modal-book-details
                  p=book.title
                  p=book.author
                  p=book.publisher
                  p=book.isbn
                  p=book.price
              .modal-summary
                p Summary:
                p=book.summary
              .modal-footer
                i.fa.fa-pencil-square-o
                i.fa.fa-times.cancel-modal-btn
  footer
